[Unit]
Description=xidlehook daemon
After=display-manager.service

[Service]
ExecStart=/usr/libexec/xidlehook
ExecStopPost=xset s default +dpms
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
